---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
        title="A propos"
        description="A propos de moi et de ce site"
        pubDate={new Date('12 12 2024')}
        heroImage="/blog-placeholder-about.png"
>
    <h4>À propos de moi</h4>
    <p>
        Bienvenue sur mon site, le lieu où la technologie rencontre la créativité. Je suis Marcobus, ingénieur
        développeur front-end passionné et rédacteur en chef de ce blog. Mon objectif est de partager mes connaissances
        sur les dernières tendances technologiques tout en explorant des sujets diversifiés qui m'inspirent.
    </p>
    <h4> Qui suis-je ?</h4>
    <p>

        Je suis un ingénieur informatique spécialisé dans le développement front-end avec une passion pour la création
        d'expériences en ligne exceptionnelles. Mon parcours dans le développement front-end m'a permis d'acquérir une
        expertise approfondie dans la création d'interfaces utilisateur intuitives et esthétiques. En dehors du code,
        j'aime explorer tous les domaines.
    </p>
    <h4>Pourquoi ce blog ?</h4>
    <p>J’ai créé ce blog pour vous partager mes connaissances et mes points de vue.
    Je l’ai aussi créé pour moi-même, un peu comme des archives personnelles. En effet, il m’arrive régulièrement de
        lire un de mes articles après une recherche sur internet, preuve de l’utilité de ce blog à mon égard.</p>
    <h4>Ce que vous trouverez ici</h4>
    <p>

        Sur ce site, vous trouverez une fusion unique de sujets techniques approfondis et d'articles explorant des
        idées plus larges. Que vous soyez un passionné de technologie avancée ou simplement curieux d'explorer
        différentes perspectives, vous trouverez ici quelque chose qui stimulera votre esprit.
        Merci de faire partie de cette communauté en constante évolution. N'hésitez pas à explorer les articles,
        partager vos réflexions et rejoindre la conversation.
        Restez connecté pour des mises à jour régulières, et n'oubliez pas : la technologie, c'est bien plus que du
        code. C'est une histoire en constante évolution, et nous en faisons tous partie.


    </p>
    <p>Marcobus</p>
</Layout>
