---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="cassette-cover">

			<h1>Bienvenue, cyber-voyageur </h1>
				<div class="rainbow-wrapper">
					<div class="rainbow-line rainbow-cyan"></div>
					<div class="rainbow-line rainbow-rose"></div>
					<div class="rainbow-line rainbow-orange"></div>
					<div class="rainbow-line rainbow-yellow"></div>
				</div>
			<p>
				Bienvenue sur mon site, le lieu où la technologie rencontre la créativité. Je suis Marcobus, ingénieur
				développeur front-end passionné et rédacteur en chef de ce blog. Mon objectif est de partager mes connaissances
				sur les dernières tendances technologiques tout en explorant des sujets diversifiés qui m'inspirent.
				Cet espace est mon jardin secret, mon lieu d'expression,
				sans prétention ni pression éditoriale. J'y partage mes découvertes, mes réflexions, mes projets
				et mes passions. Si vous êtes curieux, n'hésitez pas à explorer les différentes sections de ce site.
				N'hésitez pas non plus à les partager et à me donner votre avis. Bonne lecture!
			</p>
			</div>
		</main>
		<Footer />
	</body>
</html>
