---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
        title="Mes inspirations et sources de veille"
        description="Liste de sites et personnalités que je suis"
        pubDate={new Date('12 12 2024')}
        heroImage="/blog-placeholder-veille.png"
>
    <h4>Podcasts</h4>
    <ul>
        <li>
            <a href="https://podcasts.apple.com/fr/podcast/2-heures-de-perdues/id949530802">2 heures de perdues</a> : Podcast francophone d'analyse de films.
        </li>
        <li>
            <a href="https://notpatrick.com/">RDV jeux</a> : L'actu hebdo du jeu vidéo par Patrick Béja.
        </li>
        <li>
            <a href="https://notpatrick.com/">RDV tech</a> : L'actu hebdo de la tech par Patrick Béja.
        </li>
        <li>
            <a href="https://www.supercinebattle.fr/">Super ciné battle</a> : Le classement de la liste ultime du cinéma.
        </li>
    </ul>
    <h4> Youtube </h4>
    <ul>
        <li>
            <a href="https://www.youtube.com/@ego_one">EGO</a> : Storytelling dans le jeu vidéo.
        </li>
        <li>
        <a href="https://www.youtube.com/@mymechanics">My mechanics</a> : LA meilleure chaîne Youtube de restauration d'objets.
        </li>
        <li>
            <a href="https://www.youtube.com/@sakharujv">Ripple / Sakharu</a> : Storytelling de l'histoire du jeu vidéo.
        </li>
        <li>
            <a href="https://www.youtube.com/@TheSciencoder">The science coder</a> : Le mythbuster / c'est pas sorcier de youtube
        </li>
        <li>
            <a href="https://www.youtube.com/@Meeea">Meeea</a> : Pour tout connaitre de l'histoire d'un film, série ou jeu vidéo.
        </li>
        <li>
            <a href="https://www.youtube.com/@dexsilicium">Deus ex silicium</a> : Pour comprendre un peu mieux l'intérieur de nos machines.
        </li>
        <li>
            <a href="https://www.youtube.com/@Calmos">Calmos</a> : Analyse de films
        </li>
        <li>
            <a href="https://www.youtube.com/@ChronikFiction">Chronik fiction</a> : "Secrets" de films et séries.
        </li>
    </ul>
    <h4>Blogs</h4>
    <ul>
        <li>
            <a href="https://korben.info/">Korben</a> : Blog du célèbre Korben, chef de l'internet.
        </li>
        <li>
            <a href="https://www.joshwcomeau.com/">Josh Comeau</a> : Articles et tutoriels poussés des technos web
        </li>
    </ul>
    <h4>Ressources</h4>
    <ul>
        <li>
            <a href="https://www.raindrop.io/">Raindrop</a> : Pour sauvegarder et organiser vos liens favoris.
        </li>
        <li>
            <a href="https://netnewswire.com/">NetNewsWire</a> : Pour gérer vos flux RSS sur macOS
        </li>
        <li>
            <a href="https://feedly.com">Feedly</a> : Pour gérer vos flux RSS sur le web
        </li>

    </ul>
</Layout>
